function Main.main 6
push constant 4000
call Array.new 1
pop local 1
call Memory.printList 0
pop temp 0
push constant 2000
call Array.new 1
pop local 2
call Memory.printList 0
pop temp 0
push constant 4000
call Array.new 1
pop local 3
call Memory.printList 0
pop temp 0
push constant 2000
call Array.new 1
pop local 4
call Memory.printList 0
pop temp 0
push constant 2000
call Array.new 1
pop local 5
call Memory.printList 0
pop temp 0
push local 1
call Array.dispose 1
pop temp 0
push local 2
call Array.dispose 1
pop temp 0
push local 3
call Array.dispose 1
pop temp 0
push local 4
call Array.dispose 1
pop temp 0
push local 5
call Array.dispose 1
pop temp 0
call Memory.printList 0
pop temp 0
push constant 6000
call Array.new 1
pop local 1
call Memory.printList 0
pop temp 0
push constant 4000
call Array.new 1
pop local 2
call Memory.printList 0
pop temp 0
push local 3
call Array.dispose 1
pop temp 0
push constant 4000
call Array.new 1
pop local 4
call Memory.printList 0
pop temp 0
push constant 0
return
